<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <input formControlName="prestamo_id" placeholder="ID Préstamo" class="input" />
  <label>Fecha de Pago</label>
  <input formControlName="fecha_pago" type="date" class="input" />
  <input formControlName="monto_pagado" type="number" placeholder="Monto Pagado" class="input" />
  <input formControlName="cuota_numero" type="number" placeholder="Número de Cuota" class="input" />
  <input formControlName="metodo_pago" placeholder="Método de Pago" class="input" />

  <div class="button-group">
    <button type="submit" class="btn primary">{{ pago ? 'Actualizar' : 'Crear' }}</button>
    <button type="button" (click)="onCancel()" class="btn secondary">Cancelar</button>
  </div>
</form>

