<div
  *ngIf="socio"
  class="m-2.5 bg-white dark:bg-gray-900 rounded-xl shadow-md border border-green-200 p-6 space-y-2 text-sm text-gray-800 dark:text-gray-100"
>
  <p>
    <strong class="text-green-700 dark:text-green-300">Nombre:</strong>
    {{ socio.usuario?.nombre }} {{ socio.usuario?.apellido }}
  </p>
  <p>
    <strong class="text-green-700 dark:text-green-300">DNI:</strong>
    {{ socio.usuario?.dni }}
  </p>
  <p>
    <strong class="text-green-700 dark:text-green-300">Correo:</strong>
    {{ socio.usuario?.email }}
  </p>
  <p>
    <strong class="text-green-700 dark:text-green-300">Teléfono:</strong>
    {{ socio.usuario?.telefono_movil }}
  </p>
  <p>
    <strong class="text-green-700 dark:text-green-300">Ciudad:</strong>
    {{ socio.usuario?.ciudad }}
  </p>
</div>

<div class="m-2.5" *ngFor="let prestamo of prestamos">
  <div
    class="overflow-x-auto rounded-xl shadow-lg border border-green-300 bg-white dark:bg-gray-900 my-6"
  >
    <table class="min-w-full text-sm divide-y divide-green-200">
      <thead
        class="bg-green-100 dark:bg-green-100 text-green-800 dark:text-green-600 text-left uppercase tracking-wide text-xs"
      >
        <tr>
          <th class="px-4 py-3">Cuota</th>
          <th class="px-4 py-3">Fecha</th>
          <th class="px-4 py-3">Monto</th>
          <th class="px-4 py-3">Amortización</th>
          <th class="px-4 py-3">Interés</th>
          <th class="px-4 py-3">Comisiones</th>
          <th class="px-4 py-3">Saldo</th>
          <th class="px-4 py-3">Estado</th>
          <th class="px-4 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-lime-100">
        <tr
          *ngFor="let pago of prestamo.historial_pagos"
          class="hover:bg-green-100 dark:hover:bg-green-900 transition duration-150"
        >
          <td class="px-4 py-2 text-gray-900 dark:text-gray-100">
            {{ pago.cuota_numero }}
          </td>
          <td class="px-4 py-2 text-amber-700 dark:text-amber-100">
            {{ pago.fecha_pago | date : "dd/MM/yyyy" }}
          </td>
          <td class="px-4 py-2 text-right text-green-900 dark:text-green-100">
            S/ {{ pago.monto_pagado | number }}
          </td>
          <td class="px-4 py-2 text-right text-green-900 dark:text-green-100">
            S/ {{ pago.amortizacion | number }}
          </td>
          <td class="px-4 py-2 text-right text-green-900 dark:text-green-100">
            S/ {{ pago.interes | number }}
          </td>
          <td class="px-4 py-2 text-right text-green-900 dark:text-green-100">
            S/ {{ pago.comisiones_seguros | number }}
          </td>
          <td class="px-4 py-2 text-right text-green-900 dark:text-green-100">
            S/ {{ pago.saldo | number }}
          </td>
          <td class="px-4 py-2">
            <span
              class="px-3 py-1 rounded-full text-xs font-bold"
              [ngClass]="{
                'bg-green-200 text-green-800': pago.estado === 'pagado',
                'bg-yellow-200 text-yellow-800': pago.estado !== 'pagado'
              }"
            >
              {{ pago.estado === "pagado" ? "Pagado" : "Pendiente" }}
            </span>
          </td>
          <td class="px-4 py-2">
            <button
              *ngIf="pago.estado !== 'pagado'"
              (click)="pagarCuota(pago.id!, prestamo)"
              class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded text-xs"
            >
              Pagar cuota
            </button>
          </td>
        </tr>

        <tr *ngIf="prestamo.historial_pagos.length === 0">
          <td
            colspan="9"
            class="text-center text-gray-500 dark:text-gray-400 py-4"
          >
            No hay historial de pagos registrado.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
