<div class="container mt-4">
  <h2>Historial de Pagos</h2>
  <a routerLink="/historial-pagos/nuevo" class="btn btn-primary mb-3">Nuevo Pago</a>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Préstamo ID</th>
        <th>Fecha de Pago</th>
        <th>Monto Pagado</th>
        <th>Cuota Nº</th>
        <th>Método de Pago</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ pago.prestamo_id }}</td>
        <td>{{ pago.fecha_pago | date }}</td>
        <td>S/. {{ pago.monto_pagado }}</td>
        <td>{{ pago.cuota_numero }}</td>
        <td>{{ pago.metodo_pago }}</td>
        <td>
          <a [routerLink]="['/historial-pagos/editar', pago.id]" class="btn btn-sm btn-warning me-1">Editar</a>
          <button class="btn btn-sm btn-danger" (click)="deletePago(pago.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


